@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  min-height: 100%;
  padding: 20px;
  overflow-y: auto;
}
